<section class="portafolios contenedor" *ngIf="lana">
    <section class="diseñoweb">
        <div class="portafolios__grid contenedor">
            <div class="portafolio">
                <img class="portafolio__imagen" (click)="playSound()" src="https://1.bp.blogspot.com/-atJDcartRvQ/YMKz4EjqLjI/AAAAAAAAC4o/pMGCPaQzmOo2m_XFlIF-wSteApaXakDkgCLcBGAsYHQ/s602/a-las-ovejas-les-duele-cuando-les-cortan-la-lana.jpg" alt="lana">
                <h3 class="portafolio__heading"><span>Oveja</span></h3>
            </div>
        </div>
    </section>
</section>

