<section class="portafolios contenedor" *ngIf="abrigo">
    <section class="diseñoweb">
        <div class="portafolios__grid contenedor">
            <div class="portafolio">
                <span [ngClass]="lanasActivo == 1 ? 'badge bg-danger' : 'None'"><img class="portafolio__imagen" (click)="abrirLanaAnimales()" src="https://images.ctfassets.net/86mn0qn5b7d0/featured-img-of-post-139172/0e5e6d5edd923aa442b3bab8c1bcf462/featured-img-of-post-139172.jpg?fm=jpg&fl=progressive&q=50&w=1200" alt="lana"></span>
                <h3 class="portafolio__heading"><span (click)="abrirLanaAnimales()">Lana</span></h3>
            </div>

            <div class="portafolio">
                <span [ngClass]="cuerosActivo == 1 ? 'badge bg-danger' : 'None'"><img class="portafolio__imagen" (click)="abrirCueroAnimales()" src="https://curtidosmenacho.com/modules/ph_simpleblog/featured/48.jpg" alt="cuero"></span>
                <h3 class="portafolio__heading"><span (click)="abrirCueroAnimales()" >Cuero</span></h3>
            </div>
        </div>
    </section>
</section>


<app-lana [lana]="lana"></app-lana>

<app-cuero [cuero]="cuero"></app-cuero>
