<section class="portafolios contenedor" *ngIf="carnes">
    <section class="diseñoweb">
        <div class="portafolios__grid contenedor">
            <div class="portafolio">
                <img class="portafolio__imagen"  (click)="playSound(1)" src="https://upload.wikimedia.org/wikipedia/commons/0/07/20100516_Vacas_Vilarromar%C3%ADs%2C_Oroso-8-1.jpg" alt="lacteos">
                <h3 class="portafolio__heading"><span>Vaca</span></h3>
            </div>

            <div class="portafolio">
                <img class="portafolio__imagen"  (click)="playSound(2)" src="https://thumbs.dreamstime.com/b/cerdos-libres-del-rango-102925194.jpg" alt="huevos">
                <h3 class="portafolio__heading"><span>Cerdo</span></h3>
            </div>

            <div class="portafolio">
                <img class="portafolio__imagen"  (click)="playSound(3)" src="https://i.ytimg.com/vi/PABhNSkgzK8/hqdefault.jpg" alt="carnes">
                <h3 class="portafolio__heading"><span>Gallina</span></h3>
            </div>

            <div class="portafolio">
                <img class="portafolio__imagen"  (click)="playSound(4)" src="https://thumbs.dreamstime.com/b/pato-en-la-granja-42678482.jpg" alt="carnes">
                <h3 class="portafolio__heading"><span>Pato</span></h3>
            </div>

        </div>
    </section>
</section>

