@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenido-principal {
    background-color: v.$blanco;
    padding: 1rem 1rem;
    border: 1px solid v.$gris;

    @include m.tablet {
        border-radius: 10px; 
        padding: 3rem;
        margin-top: -6rem;
        position: relative;
        margin-bottom: -5rem;
    }

}