<section class="portafolios contenedor" *ngIf="lacteos">
    <section class="diseñoweb">
        <div class="portafolios__grid contenedor">
            <div class="portafolio">
                <img class="portafolio__imagen" (click)="playSound(1)" src="https://img.freepik.com/fotos-premium/mujer-ordenando-vaca_23-2148568659.jpg" alt="lacteos">
                <h3 class="portafolio__heading"><span>Vaca</span></h3>
            </div>

            <div class="portafolio">
                <img class="portafolio__imagen" (click)="playSound(2)" src="https://i.ytimg.com/vi/R6OWtYOCUps/maxresdefault.jpg" alt="huevos">
                <h3 class="portafolio__heading"><span>Cabra</span></h3>
            </div>

            <div class="portafolio">
                <img class="portafolio__imagen" (click)="playSound(3)" src="https://media.elmostrador.cl/2017/04/burra-leche-468x274.jpg" alt="carnes">
                <h3 class="portafolio__heading"><span>Burra</span></h3>
            </div>
        </div>
    </section>
</section>
